<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.infrastructure.mapper.ManagerMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO manager (office_id, name, passwd, role)
        VALUES (#{officeId}, #{name}, #{password}, #{role,typeHandler=org.apache.ibatis.type.EnumTypeHandler})
    </insert>

    <update id="update" keyProperty="id">
        UPDATE manager
        <set>
            <if test="name != null">
                passwd=#{password},
            </if>
            <if test="password != null">
                nickname=#{nickname},
            </if>
            <if test="role != null">
                role=#{role,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            </if>
        </set>
        where manager_id=#{id}
    </update>

    <delete id="removeById">
        DELETE
        FROM manager
        WHERE manager_id = #{id}
    </delete>

    <select id="getByNameAndPassword" resultType="ManagerData">
        SELECT m.manager_id AS id,
               m.office_id  AS officeId,
               m.name       AS name,
               m.role       AS role
        FROM manager m
        WHERE m.name = #{name}
          AND m.passwd = #{password}
    </select>

    <select id="getById" resultType="Manager">
        SELECT m.manager_id, m.office_id, m.name, m.passwd, m.role
        FROM manager m
        WHERE m.manager_id = #{id}
    </select>

    <select id="getByPagination" resultType="ManagerData">
        SELECT M.*
        FROM (
                 SELECT manager_id AS id,
                        office_id  AS officeId,
                        name       AS name,
                        role       AS role
                 FROM manager
                 ORDER BY manager_id
             ) M
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getByName" resultType="ManagerData">
        SELECT manager_id AS id,
               office_id  AS officeId,
               name       AS name,
               role       AS role
        FROM manager
        WHERE manager.name LIKE CONCAT('%', #{name}, '%')
    </select>

    <select id="getCountAll" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM manager
    </select>

</mapper>