<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.infrastructure.mapper.MemberMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO members (email, passwd, nickname, phone, birth)
        VALUES (#{email}, #{password}, #{nickname}, #{telephone}, #{birth})
    </insert>

    <update id="update" keyProperty="id">
        UPDATE members
        <set>
            <if test="password != null">passwd=#{password},</if>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="telephone != null">phone=#{telephone},</if>
        </set>
        where member_id=#{id}
    </update>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(SELECT m.member_id FROM members m WHERE m.email = #{email})
    </select>

    <select id="getByEmailAndPassword" resultType="MemberData" parameterType="map">
        SELECT m.member_id, m.email, m.nickname
        FROM members m
        WHERE m.email = #{email}
          AND m.passwd = #{password}
    </select>

    <select id="getById" resultType="MemberData" parameterType="map">
        SELECT m.member_id, m.email, m.nickname
        FROM members m
        WHERE m.member_id = #{id}
    </select>

    <select id="getByIdAndPassword" resultType="MemberData" parameterType="map">
        SELECT m.member_id, m.email, m.nickname
        FROM members m
        WHERE m.member_id = #{id}
          AND m.passwd = #{password}
    </select>

    <delete id="deleteById">
        DELETE
        FROM members
        WHERE member_id = #{id}
    </delete>

</mapper>