<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.mapper.MemberMapper">
    <insert id="save">
        INSERT INTO members (email, passwd, nickname, phone, birth)
        VALUES (#{email}, #{password}, #{nickname}, #{telephone}, #{birth})
    </insert>

    <select id="findByEmail" resultType="String">
        SELECT m.email
        FROM members m
        WHERE m.email = #{email}
    </select>
</mapper>