<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.infrastructure.mapper.MyMenuMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO my_menu (my_menu_name, product_id, member_id, option_info)
        VALUES (#{name}, #{productId}, #{memberId},
                #{optionInfo, typeHandler=dabang.star.cafe.infrastructure.mybatis.MapJsonTypeHandler})
    </insert>

    <update id="update" keyProperty="id">
        UPDATE my_menu
        <set>
            <if test="name != null">my_menu_name = #{name},</if>
            <if test="optionInfo != null">
                option_info = #{optionInfo, typeHandler=dabang.star.cafe.infrastructure.mybatis.MapJsonTypeHandler},
            </if>
        </set>
        WHERE my_menu_id = #{id}
    </update>

    <select id="getAllByMemberId" resultMap="myMenuDataResult">
        SELECT my_menu_id,
               my_menu_name,
               product_id,
               option_info
        FROM my_menu
        WHERE member_id = #{memberId}
    </select>

    <resultMap id="myMenuDataResult" type="MyMenuData">
        <result property="id" column="my_menu_id"/>
        <result property="name" column="my_menu_name"/>
        <result property="productId" column="product_id"/>
        <result property="optionInfo" column="option_info" javaType="Map"
                typeHandler="dabang.star.cafe.infrastructure.mybatis.MapJsonTypeHandler"/>
    </resultMap>

    <select id="getById" resultMap="myMenuResult">
        SELECT my_menu_id,
               my_menu_name,
               product_id,
               member_id,
               option_info
        FROM my_menu
        WHERE my_menu_id = #{myMenuId}
    </select>

    <resultMap id="myMenuResult" type="MyMenu">
        <result property="id" column="my_menu_id"/>
        <result property="name" column="my_menu_name"/>
        <result property="productId" column="product_id"/>
        <result property="memberId" column="member_id"/>
        <result property="optionInfo" column="option_info" javaType="Map"
                typeHandler="dabang.star.cafe.infrastructure.mybatis.MapJsonTypeHandler"/>
    </resultMap>

    <delete id="deleteByIdAndMemberId">
        DELETE
        FROM my_menu
        WHERE my_menu_id = #{myMenuId}
          AND member_id = #{memberId}
    </delete>

</mapper>