<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.infrastructure.mapper.MyMenuMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO my_menu (my_menu_name, product_id, member_id, option_info)
        VALUES (#{name}, #{productId}, #{memberId},
                #{optionInfo, typeHandler=dabang.star.cafe.infrastructure.mybatis.MapJsonTypeHandler})
    </insert>

</mapper>