<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.infrastructure.mapper.OfficeMapper">

    <resultMap id="OfficeResultMap" type="dabang.star.cafe.domain.office.Office">
        <id column="office_id" property="id" jdbcType="INTEGER"/>
        <id column="office_name" property="name" jdbcType="VARCHAR"/>
        <id column="address" property="address" jdbcType="VARCHAR"/>
        <id column="location" property="location" jdbcType="VARCHAR"
            typeHandler="dabang.star.cafe.infrastructure.mybatis.LocationHandler"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="dabang.star.cafe.domain.office.Office">
        INSERT INTO office (office_name, address, location)
        VALUES (#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
                ST_GeomFromText(#{location,jdbcType=VARCHAR,javaType=Location,
                        typeHandler=dabang.star.cafe.infrastructure.mybatis.LocationHandler}))
    </insert>

    <update id="update" keyProperty="id" parameterType="dabang.star.cafe.domain.office.Office">
        UPDATE office
        <set>
            <if test="name != null">office_name=#{name},</if>
            <if test="address != null">address=#{address},</if>
        </set>
        WHERE office_id=#{id}
    </update>

    <select id="getById" resultMap="OfficeResultMap">
        SELECT o.office_id, o.office_name, o.address, ST_AsText(location) AS location
        FROM office o
        WHERE o.office_id = #{id}
    </select>

    <select id="getByName" resultType="OfficeData" parameterType="map">
        SELECT o.office_id, o.office_name, o.address
        FROM office o
        WHERE o.office_name = #{officeName}
    </select>

    <select id="getCountAll" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM office
    </select>

    <select id="getByPagination" resultType="OfficeData">
        SELECT O.*
        FROM (
                 SELECT office_id   AS id,
                        office_name AS name,
                        address     AS address
                 FROM office
                 ORDER BY office_id
             ) O
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <delete id="removeById">
        DELETE
        FROM office
        WHERE office_id = #{id}
    </delete>

    <select id="getByLineString" resultType="OfficeSearchData">
        SELECT o.office_name                                                                                                              AS name,
               o.address                                                                                                                  AS address,
               ST_Distance_Sphere(o.location, ST_GeomFromText(
                       #{curLoc,jdbcType=VARCHAR,javaType=Location,typeHandler=dabang.star.cafe.infrastructure.mybatis.LocationHandler})) AS distance
        FROM office o
        WHERE ST_Within(o.location, ST_Envelope(ST_GeomFromText(
                CONCAT('LINESTRING(', #{minX}, ' ', #{minY}, ', ', #{maxX}, ' ', #{maxY}, ')'))))
        ORDER BY distance;
    </select>

</mapper>