<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.infrastructure.mapper.OptionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO additional_option (option_name, option_price, max_quantity)
        VALUES (#{name}, #{price}, #{maxQuantity});
    </insert>

    <update id="update" keyProperty="id">
        UPDATE additional_option
        <set>
            <if test="name != null">option_name=#{name},</if>
            <if test="price != null">option_price=#{price},</if>
            <if test="maxQuantity != null">max_quantity=#{maxQuantity},</if>
        </set>
        WHERE option_id=#{id}
    </update>

    <select id="selectAllOption" resultType="Option">
        SELECT O.*
        FROM (
                 SELECT option_id    AS id,
                        option_name  AS name,
                        option_price AS price,
                        max_quantity AS maxQuantity
                 FROM additional_option
                 ORDER BY option_id
             ) O
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getAllOptionCount" resultType="int">
        SELECT COUNT(*)
        FROM additional_option
    </select>

    <select id="selectByName" resultType="Option">
        SELECT option_id    AS id,
               option_name  AS name,
               option_price AS price,
               max_quantity AS maxQuantity
        FROM additional_option
        WHERE option_name LIKE CONCAT('%', #{name}, '%')
    </select>

    <select id="getById" resultType="Option">
        SELECT o.option_id    AS id,
               o.option_name  AS name,
               o.option_price AS price,
               o.max_quantity AS maxQuantity
        FROM additional_option o
        WHERE o.option_id = #{id}
    </select>

    <delete id="removeById">
        DELETE
        FROM additional_option
        WHERE option_id = #{id}
    </delete>

</mapper>