<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dabang.star.cafe.infrastructure.mapper.ProductOptionMapper">

    <insert id="insertList">
        INSERT INTO product_option (product_id, option_id, quantity)
        VALUES
        <foreach collection="productOptions" item="productOption" separator=",">
            (#{productOption.productId}, #{productOption.optionId}, #{productOption.quantity})
        </foreach>
    </insert>

    <insert id="updateList">
        INSERT INTO product_option (product_id, option_id, quantity) VALUES
        <foreach collection="productOptions" item="productOption" separator=",">
            (#{productOption.productId}, #{productOption.optionId}, #{productOption.quantity})
        </foreach>
        ON DUPLICATE KEY UPDATE
        product_id = VALUES(product_id), option_id = VALUES(option_id)
    </insert>

    <delete id="removeById">
        DELETE
        FROM product_option
        WHERE product_id = #{productId} AND option_id IN (
        <foreach collection="deleteOptions" item="optionId" separator=",">#{optionId}</foreach>
        )
    </delete>

</mapper>