<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dabang.star.cafe.infrastructure.mybatis.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO users (id, email, password, nickname, tel, birthday)
        VALUES (#{user.id},
                #{user.email},
                #{user.password},
                #{user.nickname},
                #{user.tel},
                #{user.birthday})
    </insert>

    <select id="findById" resultMap="user">
        SELECT id, email, password, nickname, tel, birthday
        FROM users
        WHERE id = #{id}
    </select>

    <select id="findByEmail" resultMap="user">
        SELECT id, email, password, nickname, tel, birthday
        FROM users
        WHERE email = #{email}
    </select>

    <update id="update">
        UPDATE users
        <set>
            <if test="user.email !=''">email=#{user.email},</if>
            <if test="user.password !=''">password = #{user.password},</if>
            <if test="user.nickname !=''">nickname = #{user.nickname},</if>
            <if test="user.tel !=''">tel = #{user.tel},</if>
            <if test="user.birthday != null">birthday = #{user.birthday}</if>
        </set>
        WHERE id = #{user.id}
    </update>

    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1 FROM users WHERE email = #{email}
                   )
    </select>


    <resultMap id="user" type="dabang.star.cafe.domain.user.User">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="tel" property="tel"/>
        <result column="birthday" property="birthday"/>
    </resultMap>
</mapper>